<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta charset="UTF-8">
      {% endblock meta %}
      <title>Smart Control System</title>

      {% block stylesheets %}
      {% endblock stylesheets %}
      {% block javascripts %}
      {% endblock javascripts %}
    {% endblock head %}
  </head>

  <body>
      {% block menu %}
        SmartControl menu
      {% endblock menu %}
      {% block content %}
        SmartControl content
      {% endblock content %}
  </body>
</html>
<script src="./components/workschedule/src/App.vue"></script>
